/* =======================================================================
/* Normalize
========================================================================== */
html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #fff;
    width: 100%;
    height: 100%;
}


/* =======================================================================
   Header Styles
========================================================================== */

#header-nav {
    height: 60px;
    width: 100%;
}

#header-nav .logo {
    left: 50%;
    margin-left: -55px;
    position: absolute;
}

.header-dark {
    background-color: #2c3e50;
}

.hamburger-icon {
    padding: 10px;
}

#left-nav:focus {
    color: #337ab7;
}
/* =======================================================================
  Slideout Styles
========================================================================== */
.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/* =======================================================================
  Map
========================================================================== */

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #63b9ff;
}

ul {
    list-style-type: none;
    padding: 20px 0 0 0;
}

li {
    padding: 5px;
}

li:hover {
    cursor: pointer;
}

.activeItemHighlight {
    background-color: #63b9ff;
    font-weight: bold;
    font-size: 1.5em;
}

/*Styling the select*/

#category {
    padding: 10px 80px 10px 10px;
}

.select {
    font-size: 1.25em;
    position: relative;
    display: inline-block;
    width: 100%
}

.select select {
    outline: none;
    -webkit-appearance: none;
    display: block;
    padding: 1.2em 3em 1.3em 1.5em;
    margin: 0;

    transition: border-color 0.2s;
    border: 5px solid #59adeb;
    border-radius: 5px;

    background: #fff;
    color: #555;
    line-height: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    width: 100%
}

.select .arr {
    background: #fff;
    bottom: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    pointer-events: none;
}

.select .arr:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 24px;
    margin-top: -5px;
    pointer-events: none;
    border-top: 10px solid #59adeb;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.select .arr:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 28px;
    margin-top: -5px;
    pointer-events: none;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.yelp-link {
    display: inline-block;
    margin-left: 20px;
}

.hide {
    display: none;
}

.show-select {
    display: block;
}